<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="https://use.fontawesome.com/4d844c78ae.js"></script>
  <link rel="stylesheet" href="./css/style.css" type="text/css" />
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@669&display=swap" rel="stylesheet">
</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="pageNavigation" href="/logout">Logout</a>
      <a class="pageNavigation" href="/home">Home</a>
    </div>
  </div>
</nav>

<body>
  {{{  body }}}
</body>


</html>