<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./css/style.css" type="text/css" />
  <title>Budget App</title>
  <script src="https://code.jquery.com/jquery.js"></script>

</head>

<main> <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <h1>MoneyTrend</h1>
    <p class="sub-header">Make your money work for you!</p>
    <br>
    <br>
    <br>
  </div>

  <body>
    {{{  body }}}
  </body>

  <div class="three" id="balance">
    <h3>Current Balance:</h3>
  </div>
  
</main>


</html>