<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./css/style.css" type="text/css" />
  <title>MoneyTrend</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@669&display=swap" rel="stylesheet">
  {{!-- <link rel='stylesheet' href='path/to/typicons.min.css' /> --}}
</head>

<main>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MoneyTrend</a>
    <a class="nav-link" href="/home">Home</a>
    <a class="nav-link" href="/income">Income</a>
    <a class="nav-link" href="/expenses">Expenses</a>
    <a class="nav-link disabled" href="/login" tabindex="-1" aria-disabled="true">Log out</a>
  </nav>
  <div class="container">
    <h1 class="animate__animated animate__backInLeft">MoneyTrend</h1>
    <div class="sub-header">Make your money work for you!</div>
  </div>

  <body>
    {{{  body }}}
  </body>

</main>


</html>