<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./css/style.css" type="text/css" />
  <title>Budget App</title>
  <script src="https://code.jquery.com/jquery.js"></script>

</head>

<main> <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>

  <body>
    {{{  body }}}
  </body>
  
</main>


</html>