<h3>My Monthly Expenses</h3>
<div id="expenseCard">

    <form>
        <div style="grid-row: 1/2" class="input-group" id="categoryInput">
            <input type="text" class="form-control" id="categoryName" placeholder="Category name">
            <div class="input-group-append">
                <button class="btn btn-default" id="addCategory" type="button">Add Category</button>
            </div>
        </div>
    </form>

    <ul style="grid-row: 2/2;" id="accordion" class="accordion">

    </ul>

</div>

<script src="./js/expenseHandlebar.js"></script>