<div class="wrapper">
    <div class="card" id="expenses">
        <h5>My Monthly Expenses</h5>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <div class="expenses">

        </div>
        <div class="card-footer">

            <div class="input-group">
                <input type="text" class="form-control" id='expenseName' placeholder="Name of your expense"
                    aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
                <div class="input-group-append" id="button-addon4">
                    <button class="btn btn-outline-secondary" id="addExpenses" type="button">Add Expenses</button>
                    <button class="btn btn-outline-secondary" type="button">Subtract Expenses</button>
                    {{!-- <div class="input-group plus-minus-input">
                        <div class="input-group-button">
                            <button type="button" class="button hollow circle" data-quantity="minus"
                                data-field="quantity">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>

        <script src="./js/expenseHandlebar.js"></script>