<h3>My Monthly Expenses</h3>
<div class="wrapper">
    <div class="one">
    <form>
        <div class="input-group">
            <input type="text" class="form-control" id='categoryName'>
            <div class="input-group-append">
                <button class="btn" id="addCategory" type="button">Add Category</button>
            </div>
        </div>
    </form>
    </div>

    <div class="two">
        <ul id="accordion" class="accordion">

        </ul>
    </div>
</div>
<script src="./js/expenseHandlebar.js"></script>
