<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./css/style.css" type="text/css" />
  <title>MoneyTrend</title>
  <script src="https://code.jquery.com/jquery.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MoneyTrend</a>
    <a class="nav-link" href="/home">Home</a>
    <a class="nav-link" href="/income">Income</a>
    <a class="nav-link" href="/expenses">Expenses</a>
    <a class="nav-link disabled" href="/login" tabindex="-1" aria-disabled="true">Log out</a>
  </nav>
    <div class="wrapper">
      <div class="one grid-container" id="income">
        <h3>Income</h3>
        <a class="pageNavigation" href="/income"><button class="btn btn-default">My Income</button></a>
        <p id="incomeSum"></p>
        <ul id="incomes">
        </ul>
        <div class="card-footer">
          
        </div>
      </div>
      <div class="two">
        <h3>Expenses</h3>
        <a href="/expenses"><button class="btn btn-default">My Expenses</button></a>
        <p id="sum"></p>
        <p id="expenses"></p>
        <div class="card-footer">
          
        </div>
  </div>

  <div class="three" id="balance">
    <p id="totalBalance"></p>
  </div>
   <footer class="footer">
            <div class="container">
                <span class="text" id="footerText">MoneyTrend 2020</span>
            </div>
        </footer>
  <script src="./js/home.js"></script>


</html>