<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./css/style.css" type="text/css" />
  <title>Budget App</title>
  <script src="https://code.jquery.com/jquery.js"></script>

    <div class="wrapper">
      <div class="one grid-container" id="income">
        <h3>Income</h3>
        <p id="incomeSum"></p>
        <ul id="incomes">
        </ul>
        <div class="card-footer">
          <a class="pageNavigation" href="/income"><button class="btn btn-default">My Income</button></a>
        </div>
      </div>
      <div class="two">
        <h3>Expenses</h3>
        <p id="sum"></p>
        <p id="expenses"></p>
        <div class="card-footer">
          <a class="pageNavigation" href="/expenses"><button class="btn btn-default">My Expenses</button></a>
        </div>
  </div>

  <div class="three" id="balance">
    <p id="totalBalance"></p>
  </div>
   <footer class="footer">
            <div class="container">
                <span class="text" id="footerText">MoneyTrend 2020</span>
            </div>
        </footer>
  <script src="./js/home.js"></script>


</html>