<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./css/style.css" type="text/css" />
  <title>Budget App</title>
  <script src="https://code.jquery.com/jquery.js"></script>

    <div class="wrapper">
      <div class="one" id="income">
        <h3>Income</h3>
        <ul id="incomes">
        </ul>
        <div class="card-footer">
          <a class="pageNavigation" href="/income">My Income</a>
        </div>
      </div>
      <div class="two">
        <h3>Expenses</h3>
        <p id="expenses">
          
        </p>
        <div class="card-footer">
          <a class="pageNavigation" href="/expenses">My Expenses</a>
        </div>
      </div>
  <div class="three" id="balance">
    <p id="totalBalance"></p>
    <h3>Current Balance:</h3>
  </div>
  </div>
<script src="./js/home.js"></script>


</html>