<div class="wrapper">
    <div class="card" id="income">
        <h3>My Monthly Income</h3>
        <div class="incomes"></div>
        <div class="card-footer">

            <div class="input-group">
                <input type="text" class="form-control" id="incomeName" placeholder="Name of your income"
                    aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
                <input type="number" step="0.01" class="form-control" id="incomeAmount" placeholder="Income Amount"
                    aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
                <div class="input-group-append" id="button-addon4">
                    <p id="incomeSum"></p>
                    <button class="btn btn-default" id="addIncome" type="button">Add Income</button>
                </div>
            </div>
        </div>
    </div>
     <footer class="footer">
            <div class="container">
                <span class="text" id="footerText">MoneyTrend 2020</span>
            </div>
        </footer>
    <script src="./js/incomeHandlebar.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>