<div class="wrapper">
    <div class="card" id="income">
        <h5>My Monthly Income</h5>
        <div class="incomes"></div>
        <div class="card-footer">

            <div class="input-group">
                <input type="text" class="form-control" id="incomeForm" placeholder="Name of your income"
                    aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
                <div class="input-group-append" id="button-addon4">
                    <button class="btn btn-outline-secondary" type="button">Add Income</button>
                    <button class="btn btn-outline-secondary" type="button">Subtract Income</button>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/incomeHandlebar.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>