<div class="wrapper">
    <div class="card" id="income">
        <h5>My Monthly Income</h5>
        <ul>
            <li>Most recent income</li>
            <li>Second most recent income</li>
            <li>Third most recent income</li>
            <li>Fourth most recent income</li>
            <li>Fifth most recent income</li>
        </ul>
        <div class="card-footer">

            <div class="input-group">
                <input type="text" class="form-control" id="incomeForm" placeholder="Name of your income"
                    aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
                <div class="input-group-append" id="button-addon4">
                    <button class="btn btn-outline-secondary" type="button">Add Income</button>
                    <button class="btn btn-outline-secondary" type="button">Subtract Income</button>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/income.js"></script>