<h3>My Monthly Income</h3>
<div class="wrapper">
    <div class="one">
            <p id="incomeSum"></p>
            <div class="input-group">
                <input type="text" class="form-control" id="incomeName" placeholder="Name of Income Source"
                    aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
                <input type="number" class="form-control" id="incomeAmount" placeholder="Income Amount"
                    aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
                <div class="input-group-append" id="button-addon4">
                    <button class="btn btn-default" id="addIncome" type="button">Add Income</button>
                </div>
            </div>
    </div>
    <div class="two">
        <div class="incomes"></div>
    </div>
    <script src="./js/incomeHandlebar.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>