<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./css/style.css" type="text/css" />
  <title>Budget App</title>
  <script src="https://code.jquery.com/jquery.js"></script>

</head>

<main>

  <body>

    <div class="wrapper">
      <div class="one" id="income">
        <h5>Income</h5>
        <ul id="incomes">
        </ul>
        <div class="card-footer">
          <a class="pageNavigation" href="/income">My Income</a>
        </div>
      </div>
      <div class="two" id="expenses">
        <h5>Expenses</h5>
        <ul id="expenses">
          
        </ul>
        <div class="card-footer">
          <a class="pageNavigation" href="/expenses">My Expenses</a>
        </div>
      </div>
      <script src="./js/income.js"></script>
  </body>
  <div class="three" id="balance">
    <h3>Current Balance:</h3>
  </div>
  </div>

</main>
<script src="./js/income.js"></script>
      <script src="./js/expenses.js"></script>


</html>