/* Here We will be styling the webPages */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
body {
  padding: 20px 80px;
  background: #eee url(../double-bubble-outline.png);
  font-family: 'Cinzel', serif;
}


li {
    padding: 5px;
    margin: 5px;
  }
  
.label {
    font-weight: bold;
  }
  
button {
    margin-top: 1%;
    font-weight: 800;
    display: block;
    background: #FFF;
    padding: 2px 10px;
    color: rgb(40, 54, 24);
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    position: relative;
    z-index: 1;
    
  }
h1 {
    text-align: center;
    margin-top: 1%;
    font-family: 'Cinzel', serif;
    font-weight: 800;
    color: rgb(56, 75, 34);
    text-decoration: none;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: 0px;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    position: relative;
  }

h2 {
    text-align: center;
    margin-top: 1%;
    color: rgb(96, 108, 56);
    text-decoration: none;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 0px;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    position: relative;
  }


h5 {
    text-align: center;
    font-size: medium;
  }

  .sub-header {
    text-align: center;
    font-size: large;
  }

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 1 / 2;
  grid-row: 1/2;
  outline-style: double;
  outline-color: black;
  background: -webkit-radial-gradient(#bc6c25, #dda15e);
}

.two { 
  grid-column: 2 / 2;
  grid-row: 1/2 ;
  outline-style: double;
  outline-color: black;
  background: -webkit-radial-gradient(#bc6c25, #dda15e);

}

.card {
  row-gap: 5em;
  outline-style: double;
  outline-color: black;
  background-color: rgb(177, 218, 177)
}

.three {
  grid-column: 2/2;
  grid-row: 2/2;
}

#beginnerForm, #expenseForm, #incomeForm {
  outline-style: double;
  outline-color: black;
  background: -webkit-radial-gradient(#bc6c25, #dda15e);
}

#balance {
    text-align: end;
    font-size: 30px;
  }

ul {
    margin-top: 1%;
    margin-top: 20px;
  }
  
img{
    margin-top: 1%;
    border-image-slice: bevel;
    border-radius:30px 0 30px 0;
    margin-left: 40%;
  }

  @font-face {
    font-family: 'typicons';
    src: url("path/to/typicons.eot");
    src: url("path/to/typicons.eot?#iefix") format('embedded-opentype'),
         url("path/to/typicons.woff") format('woff'),
         url("path/to/typicons.ttf") format('truetype'),
         url("path/to/typicons.svg#typicons") format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
 