body {
  padding: 20px 80px;
  background: #eee url(../images/double-bubble-outline.png);
  font-family: 'Cinzel', serif; }

li {
  padding: 5px;
  margin: 5px; }

.btn-default {
  box-shadow: 2px 2px 2px whitesmoke;
  font-family: 'Cinzel', serif;
  background: whitesmoke;
  padding: 0.6em;
  border-radius: 0.3em;
  box-shadow: antiquewhite;
  border: none; }

.label {
  font-weight: bold; }

h1 {
  text-align: center;
  margin-top: 1%;
  font-family: 'Cinzel', serif;
  font-weight: 800;
  color: #384b22;
  text-decoration: none;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: 0px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  padding-top: 40px;
  position: relative; }

h2 {
  text-align: center;
  margin-top: 1%;
  color: #606c38;
  text-decoration: none;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 0px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative; }

h3 {
  text-align: center;
  font-size: 2em; }

.sub-header {
  text-align: center;
  font-size: large;
  padding-bottom: 30px; }

.navbar {
  background-color: #606c38;
  position: absolute;
  top: 0%;
  max-width: 100%;
  left: 0%;
  right: 0%; }

.navbar-brand {
  color: black;
  padding-right: 20px; }

.nav-link {
  color: whitesmoke;
  padding-right: 20px; }

.nav-link :disabled {
  color: whitesmoke;
  padding-right: 20px; }

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto); }

.one {
  grid-column: 1 / 2;
  grid-row: 1/2;
  background: -webkit-radial-gradient(#bc6c25, #dda15e);
  border-radius: 2em; }

.two {
  grid-column: 2 / 2;
  grid-row: 1/2;
  background: -webkit-radial-gradient(#bc6c25, #dda15e);
  border-radius: 2em;
  border-color: #555555; }

.card {
  row-gap: 5em;
  outline-style: double;
  outline-color: black;
  background-color: #b1dab1; }

.three {
  grid-column: 2/2;
  grid-row: 2/2; }

#beginnerForm, #income {
  background: -webkit-radial-gradient(#bc6c25, #dda15e);
  border-radius: 2em;
  padding: 2em;
  color: #555555; }

#balance {
  text-align: end;
  font-size: 30px; }

img {
  margin-top: 1%;
  border-image-slice: bevel;
  border-radius: 30px 0 30px 0;
  margin-left: 40%; }

#categoryInput {
  text-align: center;
  margin-top: 8em; }

#incomeInput {
  text-align: center; }

#categoryName {
  padding: 1em;
  margin: 0.5em; }

/* accordion dropdown styling*/
ul {
  list-style-type: none; }

.footer {
  background-color: #606c38;
  position: fixed;
  bottom: 0;
  height: 30px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  left: 0%;
  right: 0%; 
}

#footerText {
  color: black !important;
  text-align: center; }

.accordion {
  width: 100%;
  max-width: 360px;
  margin: 30px auto 20px;
  background: #dda15e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.accordion, .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #FFF;
  font-size: 1.5em;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.accordion li:last-child .link {
  border-bottom: 0; }

.accordion li i {
  position: absolute;
  text-decoration: none;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #FFF;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.accordion li i.fa-chevron-down {
  text-decoration: none;
  right: 12px;
  left: auto;
  font-size: 16px; }

.accordion li.open i.fa-minus {
  color: #b63b4d; }

.accordion li.open i.fa-minus:hover {
  color: #e20a0a; }

.accordion li.open i.fa-plus {
  color: #14690c; }

.accordion li.open i.fa-plus:hover {
  color: #1f9e13;
  font-size: 22px; }

.accordion li.open .link {
  color: black; }

.accordion li.open i.fa-chevron-down {
  color: black; }

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

/**
 * Submenu
 -----------------------------*/
.submenu {
  display: none;
  background: #FFF;
  font-size: 1.2em; }

.submenu a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  position: relative; }

.accordion li.open i.fa-chevron-down {
  color: #b63b4d; 
}
